body{
    /* background-color:rgb(247, 251, 255); */
    background-image: url('bgimage.jpg');

    color: black;
}

#workshop{
        background-image: url('bgblack.jpg');
    
        color: rgba(253, 243, 243, 0.938);
}

#workshop .description{
    font-size: 22px;
}

#workshop .description a{
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

/* .navbar{
    font-size: 130%
} */

.row{
    margin: 4%;
    font-family: "Computer Modern Sans", sans-serif;
}

.title-row{
    margin-top:8%;
}

.latnews a{
    all: unset;
    cursor: pointer;
}

.description{
    font-size: 20px;
}

.person-link{
    all: unset;
}

.person-image{
    rotate: 90;
    width: 160px;
    height:200px;

}

@media only screen and (min-width: 768px)  {
.row{
    margin: 5% 20% 2% 20%;

}

.title-row{
    margin-top: 8%;
    margin-bottom: -2%;
}

.latest-row {
    margin-bottom: 0%;

}
.news-row {
    margin-top: 3%;
}
.contat-row {
    margin-top: 0%;
}
.contact-head-row{
    margin-bottom: 0%;

}
}
/* Publications styling */
.publications-row{
    margin-bottom: 0%;
}
#bibbase{
    margin: 4%;
    font-family: "Computer Modern Sans", sans-serif;
} 


.bibbase_group{
    background-color: transparent;
}

@media only screen and (min-width: 768px)  {
    #bibbase{
        margin: 2% 20% 2% 20%;
    
    }
}

.bibbase.bibbase_page {
    display: none;
}

.past-row{
    margin-bottom: -2%;
    margin-top: -1%;
    padding-left: 0%;
}
.past-btn{
    padding-left: 0%; 
}

/* .btn:active{
    outline: 0;
    border-color: transparent;
}
.btn:focus{
    outline: 0;
    border-color: transparent;
} */
.arrow{
    font-size: 60%;
}