---
layout: header

---
<div class="row title-row">
    <div class="col">
        <h1>N∅thing is Logical</h1>
    </div>
</div>

  <div class="row">
    <div class="col-sm-12">
    
    <p class="description">People often reason contrary to the prescriptions of classical logic. In this project we study cases of divergence between everyday and logical-mathematical reasoning and, challenging the canonical view, we hypothesise that they are a straightforward consequence of a tendency in human cognition to neglect empty representations (neglect-zero). </p>
    
    <p class="description">We develop logics which formally represent the neglect-zero tendency and rigorously study its impact on interpretation; explore possible conventionalizations of neglect-zero effects in specific linguistic domains; and experimentally investigate the impact of neglect-zero in ordinary reasoning and its conjectured suspension for example in the context of a mathematical proof.</p>
    <p class="description"><b>Full Description:</b> [<a href="assets\pdfs\AloniOpenC2022FullProposal.pdf" target="_blank" rel="noopener noreferrer">PDF</a>]</p>
  </div>
  </div>

  <div class="row latest-row">
    <div class="col">
        <h2>Latest news</h2>
        <hr>
    </div>
</div>

  <div class="row news-row">
  {%assign latestNews = site.data.news | sort:"date" | reverse | slice: 0,3%}
  {%assign upcoming_seminar = site.data.seminars | sort:"date" | reverse | slice: 0%}

  {%for news in latestNews%}
    <div class="col-sm-4">
        <h4>{{news.date  | date: "%-d %B %Y"}}</h4>
        <hr>
        <p>{{news.text | markdownify}}</p>
        {%if news.url%}
        <a href={{news.url}}>See more </a>
        {%endif%}
    </div>
  {%endfor%}
</div>



