---
layout: header

---

<div class="row title-row">
    <div class="col">
        <h1> NihiL People</h1>
    </div>
</div>
{%assign allPeople = site.data.people%}
<div class="row">
{%for person in allPeople %}
{%if person.url%}
<div class="col-sm-4">
    {%assign image = person.img%}
    <img src="{{ image | base_url }}" class="person-image">
     <p><a href={{person.url}} class="person-link"><b>{{person.name}}</b></a></p> 
    <p>{{person.affiliation}}</p>
</div>
{%else%}
<div class="col-sm-4">
    <img src="{{ image | base_url }}" class="person-image">
    <p><b>{{person.name}}</b></p>
    <p>{{person.affiliation}}</p>
</div>
{%endif%}
{%endfor%}
</div>
