---
layout: header
---

<div class="row title-row">
    <div class="col">
        <h1>Seminar Meetings</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    
    <p class="description"> This page displays the upcoming and past meetings of the NihiL seminar. The meetings take place biweekly, usually on Tuesday at 16:00 in the ILLC seminar room F1.15 in Science Park 107 and online. If you would like to attend a particular session online or to be added to the mailing list please contact <a href="s.b.knudstorp@uva.nl">Søren Brinck Knudstorp</a>. The seminar meetings alternate with the meetings of <a href="https://formal-semantics.github.io/">New Trends in Formal Semantics</a> reading group.</p>
    </div>
  </div>


<div class="row">
    <div class="col">
        <h2>Upcoming Meetings</h2>
        <hr>
    </div>
</div>

{%assign allSeminars = site.data.seminars | sort:"date"%}
{%assign now = site.time | date: "%s"%}
{%for sem in allSeminars%}
{%assign date = sem.date | date: "%s"%}
{%if date > now%}
<div class="row">
    <div class="col">
        <h4> <b>{{sem.author}}</b></h4>
        <h4>{{sem.date | date: "%-d %B %Y %H:%M"}}</h4>
        <h5>{{sem.location | markdownify}}</h5>
        <hr>
        <h4><em>{{sem.title | markdownify}}</em></h4>
        <p>{{sem.abstract | markdownify}}</p>
        {%if sem.url%}
        <a href={{sem.url}}>Slides</a>
        {%endif%}
    </div>
</div>
{%endif%}
{%endfor%}


{%assign allSeminars = site.data.seminars | sort:"date" | reverse%}

<div class="row past-row">
    <div class="col">
        <button class="btn past-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-pressed = "false" aria-expanded="false" aria-controls="collapseExample">
            <h2> Past Meetings  <i class="fa-solid fa-chevron-right arrow"></i></h2> 
          </button>
        <hr>
    </div>
</div>

  <div class="collapse" id="collapseExample">
    {%for sem in allSeminars%}
    {%assign date = sem.date | date: "%s"%}
    {%if date < now%}
    <div class="row">
        <div class="col">
            <h4> <b>{{sem.author}}</b></h4>
            <h4>{{sem.date | date: "%-d %B %Y %H:%M"}}</h4>
            <h5>{{sem.location}}</h5>
            <hr>
            <h4><em>{{sem.title}}</em></h4>
            <p>{{sem.abstract | markdownify}}</p>
            {%if sem.url%}
            <a href={{sem.url}}>Slides</a>
            {%endif%}
        </div>
    </div>
    {%endif%}
    {%endfor%}

  </div>
    

